.flexible-container {

    display: flex;
}

.orange {
    color: orange;

}

h1 {

    font-size: 50px;
}

.half {
    width: 50%;
}

.half img {
    width: 200%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream-big {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    border-image: laft;
}